@import "../theme";

.header {
  // includes logo
  &.container {
    @include center;
  }

  // defines style of title
  &.title {
    font-weight: bold;
    color: $background;
    text-align: center;
  }
}