@import "../theme";

.base-container {
  margin-left: auto; // controls position of login window
  padding-left: 15px; 
  margin-right: auto;
  padding-right: 15px;
  max-width: $DESKTOP_WIDTH;
  color: $textColor;
}